<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <div class="container row">
                <div class="col">
                    <h4>Utilisateurs</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div *ngIf="searchFormGroup">
                <form [formGroup]="searchFormGroup" (ngSubmit)="findUsersIfRoleIsApprenant()">
                    <div class="input-group">
                        <label class="input-group-text" for="nomSujet">Recherche par nom :</label>
                        <input type="text" id="nomSujet" formControlName="keyword" class="form-control"
                            autocomplete="off">
                        <button class="btn btn-info">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Photo de profil </th>
                        <th>Prénom </th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of users  | async; let i = index;">
                        <td>
                            <img [src]="'https://robohash.org/' + c.userId" width="50" alt="">
                        </td>
                        <td>{{c.firstName}}</td>
                        <td>{{c.lastName}}</td>
                        <td>
                                <div class="form-check form-switch"><input class="form-check-input" type="checkbox"
                                     (change)="affectOrNoSujetToUser(c)" #checkBoxId/>
                                </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>