<div class="container">
    <div class="card col-md-6 offset-3 mt-2">
      <div class="card-header">New Customer</div>
      <div class="card-body">
        <form [formGroup]="newUserFormGroup" (ngSubmit)="handleSaveUser()">
          <div class="mb-3">
            <label class="form-label">Pseudo:</label>
            <input type="text" formControlName="username" class="form-control">
            <span class="text-danger"
                  *ngIf="newUserFormGroup.controls['username'].touched
                  && newUserFormGroup.controls['username'].errors
                  && newUserFormGroup.controls['username'].errors!['required']">
              usernameis Required
            </span>
          </div>
          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control">
            <span class="text-danger"
                  *ngIf="newUserFormGroup.controls['email'].touched
                  && newUserFormGroup.controls['email'].errors
                  && newUserFormGroup.controls['email'].errors!['email']">
              Email is not valid
            </span>
          </div>
          <div class="mb-3">
            <label class="form-label">Mot de passe:</label>
            <input type="text" formControlName="password" class="form-control">
          </div>
          <div class="mb-3">
            <label for="roles" class="form-label">Définition des rôles : </label>
  
            <select class="form-control" type="number" formControlName="roles" multiple>
              <option *ngFor="let level of list_role" [ngValue]="level">{{level.role}}</option>
            </select>
            {{selectedRoles | json}}
          </div>


          <button [disabled]="!newUserFormGroup.valid" class="btn btn-info">Save</button>
        </form>

{{this.newUserFormGroup.value | json}}
      </div>
    </div>
  </div>
  
