<div class="container mt-2">
  <div class="card">
    <div class="card-header">
      <div class="container row">
        <div class="col">
          <h4>Les livrables</h4>
        </div>
        <div class="col">
          <button class="btn btn-success" *ngIf="authService.roles.includes('APPRENANT')"
            (click)="goToPageAddLivrable()"><i class="bi bi-plus "></i>Ajouter un
            livrable</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div
        *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('USER') || authService.roles.includes('FORMATEUR')">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchLivrables()">
            <div class="input-group">
              <label class="input-group-text" for="nomLivrable">Recherche par nom de repository :</label>
              <input type="text" id="nomLivrable" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <table class="table">
        <thead>
          <th>Les repositories</th>
          <th>Sujet</th>
          <th *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR')">Action</th>
          <th>Afficher les avis</th>
          <th *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR')">Ajouter un avis</th>
        </thead>
        <tbody *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR')">
          <tr *ngFor="let l of livrables  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <td>
              <p *ngFor="let u of l.utilisateurs"><a href="{{l.gitUrl}}"
                  target="_blank">{{u.username}}/{{l.repoName}} </a></p>
            </td>
            <td ><div *ngIf="l.sujet!=null">{{l.sujet.title}}</div></td>
            <td>
              <button (click)="deleteLivrable(l.id)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="afficherAvis(l)">Afficher les Avis</button>
            </td>
            <td>
              <button type="button" class="btn btn-info" (click)="AjouterAvis(l.id)">Ajouter un avis</button>
            </td>
          </tr>
         <!-- <tr *ngIf="avis.length!=0">
            <table class="table table-striped"  *ngIf="this.affichageAvis">
              <thead>
                <tr>
                  <th scope="col">Formateur</th>
                  <th scope="col">Avis</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of avis">
                  <td>{{a.utilisateur.firstName}}</td>
                  <td>{{a.texteAvis}}</td>
                </tr>
              </tbody>
            </table>
           
          </tr>-->
        </tbody>
        <tbody *ngIf="authService.roles.includes('APPRENANT')">
          <tr *ngFor="let l of livrables2">
            <td>
              <p *ngFor="let u of l.utilisateurs"><a href="{{l.gitUrl}}"
                  target="_blank">{{u.username}}/{{l.repoName}}</a></p>
            </td>
            <td ><div *ngIf="l.sujet!=null">{{l.sujet.title}}</div></td>
            <td>
              <button type="button" class="btn btn-primary" (click)="afficherAvis(l)">Afficher les Avis</button>
            </td>
          </tr>

         <!--     <tr *ngIf="avis.length!=0">
            <table class="table table-striped"  *ngIf="this.affichageAvis">
              <thead>
                <tr>
                  <th scope="col">Formateur</th>
                  <th scope="col">Avis</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of avis">
                  <td>{{a.utilisateur.firstName}}</td>
                  <td>{{a.texteAvis}}</td>
                </tr>
              </tbody>
            </table>
           
          </tr>  --> 
          
        </tbody>
      </table>
      <pagination-controls *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR')" (pageChange)="p = $event"
                     previousLabel="Précédent"
                     nextLabel="Suivant">
</pagination-controls>
      
      <form *ngIf="affichageAjout" (ngSubmit)="validerAjout()">
        <div class="form-group">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Ajouter un avis</label>
            <textarea class="form-control" id="texteAvis" name="texteAvis" [(ngModel)]="avisAjout.texteAvis"
              rows="3"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
      <table class="table table-striped"  *ngIf="this.affichageAvis">
        <thead>
          <tr>
            <th scope="col" style="width: 25%;">Formateur</th>
            <th scope="col" style="width: 25%;">Avis</th>
            <th scope="col" style="width: 25%;">Date Avis</th>
            <th scope="col" style="width: 25%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of avis">
            <td >{{a.utilisateur.firstName}}</td>
            <td>{{a.texteAvis}}</td>
            <td><span *ngIf="a.dateAvis!=null">{{a.dateAvis | date:'dd/MM/yyyy'}} </span></td>
            <td><button *ngIf="a.utilisateur.username==connectedUser" (click)="deleteAvis(a.id)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ngb-alert *ngIf="showAlert" [dismissible]="true" type="success">
  Ajout réussi.
</ngb-alert>
