<div class="container mt-2">
  <ng-container>
    <div class="card">
      <div class="card-header">
        <div class="container row">
          <div class="col">
            <h4>Les livrables</h4>
          </div>
          <div class="col">
            <button class="btn btn-success" *ngIf="authService.roles.includes('USER')" (click)="ajouterLivrable()"><i class="bi bi-plus "></i>Ajouter un
              livrable</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchLivrables()">
            <div class="input-group">
              <label class="input-group-text">Recherche par nom de repository :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
            <th>Les repositories</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let l of livrables | async">
              <td>
                <p *ngFor="let u of l.utilisateurs"><a href="{{l.gitUrl}}"
                    target="_blank">{{u.username}}/{{l.repoName}}</a></p>
              </td>
              <td>
                <button *ngIf="authService.roles.includes('USER') || authService.roles.includes('FORMATEUR')" (click)="supprimerLivrable(l.id)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .....
    </ng-template>
  </ng-template>
</div>