<div class="bg"></div>

<div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
        <h3>IntiGalaxy</h3>

        <label for="username">Identifiant</label>
        <input type="text" id="username" formControlName="username" autocomplete="off">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" autocomplete="off">

        <button>Se connecter</button>
        
        <div *ngIf="loginError" class="error-message">
            Identifiant ou mot de passe incorrect
        </div>

    </form>
</div>