<section class="h-100 bg-dark">
    <form [formGroup]="livrableForm" (ngSubmit)="saveLivrable()">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="http://lms.intiformation.fr/pluginfile.php/63/course/overviewfiles/Slider_3.jpg"
                                    alt="photo formation" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 100%; height: 100%;" />
                            </div>

                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Nouveau Livrable</h3>

                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="title">Titre</label>
                                            <input type="text" id="title" class="form-control form-control-lg"
                                                formControlName="title" />
                                            <span class="text-danger" *ngIf="livrableForm.controls['title'].touched
                              && livrableForm.controls['title'].errors
                              && livrableForm.controls['title'].errors!['required']">
                                                Le champ titre est obligatoire
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="operationDate">Date d'ajout</label>
                                            <input type="date" id="operationDate" class="form-control form-control-lg"
                                                formControlName="operationDate" />
                                            <span class="text-danger" *ngIf="livrableForm.controls['operationDate'].touched
                            && livrableForm.controls['operationDate'].errors
                            && livrableForm.controls['operationDate'].errors!['required']">
                                                Le champ date d'ajout est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="timeConstraint">Durée en jours</label>
                                            <input type="number" id="timeConstraint"
                                                class="form-control form-control-lg" formControlName="timeConstraint" />
                                            <span class="text-danger" *ngIf="livrableForm.controls['timeConstraint'].touched
                            && livrableForm.controls['timeConstraint'].errors
                            && livrableForm.controls['timeConstraint'].errors!['required']">
                                                Le champ durée est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="level">Niveau</label>
                                            <select id="level" class="form-control form-control-lg"
                                                formControlName="level">
                                                <option [ngValue]="null">Choisir un...</option>
                                                <option *ngFor="let level of levelType | keyvalue"
                                                    [ngValue]="level.value">{{level.value}}
                                                </option>
                                            </select>
                                            <span class="text-danger" *ngIf="livrableForm.controls['level'].touched
                      && livrableForm.controls['level'].errors
                      && livrableForm.controls['level'].errors!['required']">
                                                Le champ niveau est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="title">Repository</label>
                                            <input type="text" id="repoName" class="form-control form-control-lg"
                                                formControlName="repoName" />
                                            <span class="text-danger" *ngIf="livrableForm.controls['repoName'].touched
                                && livrableForm.controls['repoName'].errors
                                && livrableForm.controls['repoName'].errors!['required']">
                                                Le champ Repository est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="title">URL Git</label>
                                            <input type="text" id="gitUrl" class="form-control form-control-lg"
                                                formControlName="gitUrl" />
                                            <span class="text-danger" *ngIf="livrableForm.controls['gitUrl'].touched
                                && livrableForm.controls['gitUrl'].errors
                                && livrableForm.controls['gitUrl'].errors!['required']">
                                                Le champ URL Git est obligatoire
                                            </span>
                                        </div>
                                    </div>
                                    <button type="reset" class="btn btn-danger btn-lg ms-2"
                                        (click)="annulerAjout()">Annuler</button>
                                    <button [disabled]="!livrableForm.valid"
                                        class="btn btn-success btn-lg ms-2">Ajouter</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>