<section style="background-color: #eee;">
    <button class="btn btn-primary float-end me-5" (click)="ajouterFormation()">Ajouter une formation</button>
      <div id="etus" class="text-center container py-5">      
        <h4><strong>Formations</strong></h4>
        
    
        <div class="row" >
          <!-- <div class="col-md-3 mx-auto my-5" *ngFor="let etudiant of listeEtudiant | async"> -->
            <div class="col-md-3 my-3" *ngFor="let formation of listeFormation | async"> 
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-success ms-2">{{formation.formationName}}</span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
              </div>
              <div class="card-body">
                  <h5 class="card-title mb-3">{{formation.formationName}} {{formation.formationName}}</h5>
                  <p>{{formation.formationName}}</p>
                <h6 class="mb-3">{{formation.formationName}}</h6>
                <button type="button" class="btn btn-warning me-1" (click)="modifierFormation(formation.id)">Modifier</button>
                <button type="button" class="btn btn-danger" (click)="supprimerFormation(formation.id)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>

  