<section style="background-color: #eee;">
    <div id="etus" class="text-center container py-5">
      <h1><strong>Changer votre mot de passe</strong></h1>
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form [formGroup]="formUpdatePass" (ngSubmit)="updatePass()">
            <div class="mb-3">
              <label for="password" class="form-label">Nouveau mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmer le nouveau mot de passe</label>
              <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" autocomplete="off" (blur)="confirmationPass()" (change)="valeurPass()" required>
              <div class="text-danger" *ngIf="erreurMessage">Erreur : {{ erreurMessage }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  