<section style="background-color: #eee;">
  <button class="btn btn-primary float-end me-5" *ngIf="authService.roles.includes('FORMATEUR')"
    (click)="ajouterSujet()"><i class="bi bi-plus "></i>Ajouter un
    sujet</button>
  <div id="etus" class="text-center container py-5">
    <h1><strong>Les sujets</strong></h1>


    <div class="row">
      <div class="col-md-3 my-3" *ngFor="let s of sujets">
        <div class="card">
          <h5 class="card-header">
           Niveau : {{s.level}}<br>Durée: {{s.timeConstraint}}
                jour(s)
          </h5>
          <div class="card-body">
            <h2 class="card-title mb-3">{{s.title}}</h2>
          </div>
          <div class="card-footer">
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-warning me-1"
                *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR') || authService.roles.includes('APPRENANT')"
                (click)="afficherSujet(s)">Consulter</button>
              <button type="button" class="btn btn-primary me-1" *ngIf="authService.roles.includes('FORMATEUR')"
                (click)="affecterSujet(s)">Affecter</button>
              <button type="button" class="btn btn-danger"
                *ngIf="authService.roles.includes('ADMIN') || authService.roles.includes('FORMATEUR')"
                (click)="supprimerSujet(s.id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>