<section style="background-color: #eee;">
  <div id="etus" class="container-fluid pt-2">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><img src="/assets/img/logo_inti.png" width="120" height="120" alt="Logo INTI"></h5>
              </div>
              <div>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </div>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{sujet.title}}</h2>
            <h6 class="card-title">{{sujet.timeConstraint}} jour(s)</h6>
            <br><br><br><br><br><br><br><br><br><br><br>
            <h6 class="card-title" [align]="alignement" style="color:green;">Titre du Projet :</h6>
            <p [align]="alignement">{{sujet.title}}</p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Contraintes de temps :</h6>
            <p [align]="alignement">Ce projet est prévu pour être réalisé en {{sujet.timeConstraint}} jour(s). Il est
              important de bien gérer le temps et de
              prioriser les fonctionnalités essentielles pour assurer une livraison réussie dans les délais impartis.
            </p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Description du Projet :</h6>
            <p [align]="alignement">{{sujet.description}}</p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Fonctionnalités attendues :</h6>
            <p [align]="alignement">{{sujet.functionality}}</p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Exigences techniques :</h6>
            <p [align]="alignement">{{sujet.stackTechnique}}</p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Livraison attendue :</h6>
            <p [align]="alignement">{{sujet.expectedDelivery}}</p>
            <h6 class="card-title" [align]="alignement" style="color:green;">Évaluation du développeur :</h6>
            <p [align]="alignement">{{sujet.developerRating}}</p>
            <button type="button" class="btn btn-warning me-1" (click)="afficherAllSujets()">Retour vers la liste des
              sujets</button>
          </div>
        </div>
      </div>
      <div class="btn-group btn-group-sm col-md-4" role="group">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-secondary me-1" (click)="generatePDF(sujet)"><span
                class="bi bi-file-pdf"></span>Ouvrir</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-secondary me-1"
              (click)="generatePDF(sujet,'download')"><span class="bi bi-file-pdf"></span>Télécharger</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-secondary" (click)="generatePDF(sujet,'print')"><span
                class="bi bi-file-pdf"></span>Imprimer</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>